/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp X   &kp X   &kp V   &kp L   &kp C   &kp W        &kp K    &kp H     &kp G      &kp F    &kp Q  &kp BSPC
&trans  &kp U   &kp I   &kp A   &kp E   &kp O        &kp S    &kp N     &kp R      &kp T    &kp D  &trans
&trans  &trans  &trans  &trans  &kp P   &kp Z        &kp B    &kp M     &kp COMMA  &kp DOT  &kp J  &trans
                        &trans  &trans  &kp SPACE    &kp RET  &kp BSPC  &trans
            >;
        };
    };
};
